<div *ngIf="form">
    <form [formGroup]="form" (submit)=sendData()>

        <label>name : {{form.controls['name'].value}}</label> <br>
        <input [ngClass]="{'red':form.controls['name'].errors}" type="text" formControlName="name"> <br> <br>

        <label>lastname : {{form.controls['lname'].value}}</label> <br>
        <input [ngClass]="{'red':form.controls['lname'].errors}" type="text" formControlName="lname"> <br> <br>

        <label>nickname : {{form.controls['nname'].value}}</label> <br>
        <input [ngClass]="{'red':form.controls['nname'].errors}" type="text" formControlName="nname"> <br> <br>

        <label>id : {{form.controls['id'].value}}</label> <br>
        <input [ngClass]="{'red':form.controls['id'].errors}" type="text" formControlName="id"> <br> <br>

        <label>phone : {{form.controls['phone'].value}}</label> <br>
        <input [ngClass]="{'red':form.controls['phone'].errors}" type="text" formControlName="phone">

        <button type="submit">Return</button>
    </form>
</div>