<div class="container">
    <div class="mb-3 row mt-5">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name">
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Type" [(ngModel)]="type">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Age" [(ngModel)]="age">
        </div>
        <div class="col-sm-1 ">
            <button type="button" class="btn btn-success" style="width: 100%;" (click)="createRow()"><i
                    class="bi bi-plus-circle"></i></button>
        </div>
        <div class="col-sm-1 ">
            <td>
                <button type="button" class="btn btn-primary" style="width: 100%;" (click)="updateRow()">Update</button>
            </td>
        </div>
    </div>
    <table class="table border">
        <thead>
            <tr>
                <td scope="col"></td>
                <td scope="col">Name</td>
                <td scope="col">Type</td>
                <td scope="col">Age</td>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of array;let i =index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.age}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" style="width: 60%;"
                            (click)="setUpdateRow(item,i)"><i class="bi bi-pencil-square"></i></button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-danger" style="width: 60%;" (click)="deleteRow(i)"><i
                                class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>